<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <ion-col size="2">

                <ion-button (click)="takePicture()">
                    Photo
                </ion-button>
                <ion-button (click)="printCurrentPosition()">
                    location
                </ion-button>
                <ion-button (click)="show()">
                    Splash Screen
                </ion-button>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-img [src]="imgUrl"></ion-img>
                <p *ngIf="coordinates.coords"> خط الطول: {{coordinates.coords.latitude}}</p>
                <p *ngIf="coordinates.coords"> خط العرض: {{coordinates.coords.longitude}}</p>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content>